{% extends "BprsStyleBundle::layout.html.twig" %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'delorian', 'dropdown': ''} %}
{% endblock %}

{% block body_main -%}
    <div class="page-header">
        <h1>{{ 'oktolab_media.edit_series_header'|trans({'%series_name%': edit_form.vars.value.name}) }}</h1>
        <a href="{{ path('oktolab_series_show', {'id': edit_form.vars.value.id}) }}" class="btn btn-default">{{ 'oktolab_media.edit_series_cancel'|trans }}</a>
    </div>

    {{ form_start(edit_form) }}
        {{ form_errors(edit_form) }}
        {% include "BprsAssetBundle::singleUpload.html.twig" with {'widget': edit_form.posterframe, 'adapter': 'gallery', 'asset': edit_form.vars.value.posterframe} %}
        {{ form_row(edit_form.name) }}
        {{ form_row(edit_form.webtitle) }}
        {{ form_row(edit_form.description) }}

    {{ form_end(edit_form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include "BprsAssetBundle::singleUpload.js.twig" %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% include "BprsAssetBundle::singleUpload.css.twig" %}
{% endblock %}
