{% extends "BprsStyleBundle::layout.html.twig" %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'delorian', 'dropdown': ''} %}
{% endblock %}

{% block body_main -%}
    <div class="page-header">
        <h1>Sendereihen</h1>
        <a href="{{ path('oktolab_series_new') }}" class="btn btn-default">
            <span class="glyphicon glyphicon-plus"></span> Neue Sendereihe anlegen
        </a>
    </div>

    {# <table class="table">
        <thead>
            <tr>
                <th>Posterframe</th>
                <th>Name</th>
                <th>Webtitle</th>
                <th>Uniqid</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>
                    {% if entity.posterframe is not empty %}
                        <img src="{{ entity.posterframe|thumb(80,120) }}" class="img-responsive" />
                    {% endif %}
                </td>
                <td><a href="{{ path('oktolab_series_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                <td>{{ entity.webtitle }}</td>
                <td>{{ entity.uniqID }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table> #}

    <div class="page-header">
        <h1>Showing {{ seriess.getTotalItemCount }} series</h1>
    </div>

    <div class="navigation">
        {{ knp_pagination_render(seriess) }}
    </div>
    <table class="table table-striped">
        <tr>
            {# sorting of properties based on query components #}
            <th>Posterframe</th>
            <th{% if seriess.isSorted('s.name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(seriess, 'Name', 's.name') }}</th>
            <th{% if seriess.isSorted('s.webtitle') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(seriess, 'Webtitel', 's.webtitle') }}</th>
            <th{% if seriess.isSorted('s.uniqID') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(seriess, 'UniqID', 's.uniqID') }}</th>
        </tr>
        {% for series in seriess %}
            <tr>
                <td>
                    {% if series.posterframe is not empty %}
                        <img src="{{ series.posterframe|thumb(80,120) }}" class="img-responsive" />
                    {% endif %}
                </td>
                <td><a href="{{ path('oktolab_series_show', { 'id': series.id }) }}">{{ series.name }}</a></td>
                <td>{{ series.webtitle }}</td>
                <td>{{ series.uniqID }}</td>
            </tr>
        {% endfor %}
    </table>
    <div class="navigation">
        {{ knp_pagination_render(seriess) }}
    </div>
{% endblock %}
