{% extends "BprsStyleBundle::layout.html.twig" %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': '', 'dropdown': ''} %}
{% endblock %}

{% block body_main -%}
    <div class="page-header">
        <h1>{{ series.name }}</h1>
        <a href="{{ path('oktolab_series_edit', { 'series': series.id }) }}" class="btn btn-default">{{ 'oktolab_media.series_edit_button'|trans|raw }}</a>
        <a href="{{ path('oktolab_media_api_show_series', {'uniqID': series.uniqID }) }}" class="btn btn-default">{{ 'oktolab_media.series_show_api'|trans|raw }}</a>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    {% if series.posterframe is not empty %}
                        <img src="{{ series.posterframe|path }}" class="img-responsive" />
                    {% endif %}
                </div>
                <div class="panel-footer">
                    {{ series.description }}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td>{{'oktolab_media.series_info_isActive'|trans}}</td>
                        <td>{{ series.isActive }}</td>
                    </tr>
                    <tr>
                        <td>{{'oktolab_media.series_info_uniqID'|trans}}</td>
                        <td>{{ series.uniqID }}</td>
                    </tr>
                    <tr>
                        <td>{{'oktolab_media.series_info_webtitle'|trans}}</td>
                        <td>{{ series.webtitle }}</td>
                    </tr>
                    <tr>
                        <td>{{'oktolab_media.series_info_createdAt'|trans}}</td>
                        <td>{{ series.createdAt|date('Y-m-d H:i:s') }}</td>
                    </tr>
                    <tr>
                        <td>{{'oktolab_media.series_info_updatedAt'|trans}}</td>
                        <td>{{ series.updatedAt|date('Y-m-d H:i:s') }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
