{# show keychain and implement typeahead search for api #}
{% extends "BprsStyleBundle::layout.html.twig" %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'delorian', 'dropdown': ''} %}
{% endblock %}

{% block body_main %}
    <div class="page-header">
        <h1>{{ keychain.url }}</h1>
        <p><a href="{{ path('oktolab_media_list_keychains') }}">{{ 'oktolab_media_show_keychain.back_to_keychains'|trans|raw }}</a></p>
    </div>
    {% if response.navigation.prev is defined %}
        <a href="{{ path('oktolab_media_show_keychain', {'keychain': keychain.id, 'url': response.navigation.prev}) }}" class="btn btn-default">{{ 'oktolab_media.keychain_show_prev_results'|trans }}</a>
    {% endif %}
    {% if response.navigation.next is defined %}
        <a href="{{ path('oktolab_media_show_keychain', {'keychain': keychain.id, 'url': response.navigation.next}) }}" class="btn btn-default">{{ 'oktolab_media.keychain_show_next_results'|trans }}</a>
    {% endif %}
        {% if response.seriess is defined %}
            {% for series in response.seriess %}
            <div class="row">
            <div class="col-md-4">
                {% if series.posterframe is defined %}
                    <a href="{{ path('oktolab_media_show_keychain_series', {'keychain': keychain.id, 'uniqID': series.uniqID}) }}">
                        <img src="{{ keychain|keychain_url('bprs_asset_api_show', {'filekey': series.posterframe, 'width': 240, 'height': 135}) }}" class="img-responsive" />
                    </a>
                {% endif %}
            </div>
            <div class="col-md-8">
                <div class="col-md-12">
                    <a href="{{ path('oktolab_media_show_keychain_series', {'keychain': keychain.id, 'uniqID': series.uniqID}) }}">{{ series.name}}</a>
                </div>
                <div class="col-md-12">
                    {{ series.description }}
                </div>
            </div>
            </div>
            {% endfor %}
        {% endif %}

    <div class="results" data-row="<a href='{{ keychain|keychain_url(constant('Oktolab\\MediaBundle\\Model\\MediaService::ROUTE_SERIES'))}}?uniqID=__link__' class='list-group-item'>__seriesname__</a>" class="list-group">
    </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{# <script src="{{ asset('bundles/bprsstyle/js/typeahead.js')}}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        // import button for episode
        $('.series_import').click(function(e) {
            e.preventDefault();
            var id = $(this).data('id');
            $.ajax({
                url: "{{ url('oktolab_media_local_import_series') }}",
                data: {'id': id},
                type: 'POST',
                statusCode: {
                    200: function () {
                        $(this).addClass("disabled");
                    }
                }
            });
        });

        console.log('start loading episodes');
        console.log("{{ keychain|keychain_url(constant('Oktolab\\MediaBundle\\Model\\MediaService::ROUTE_LIST_SERIES'))}}");
        $.ajax({
            type: "GET",
            url: "{{ keychain|keychain_url(constant('Oktolab\\MediaBundle\\Model\\MediaService::ROUTE_LIST_SERIES'))}}",
            headers: {
                "Authorization": "Basic " + btoa("{{ keychain.user }}" + ":" + "{{ keychain.apiKey }}")
            },
            dataType: 'json',
            username: '{{ keychain.user }}',
            password: '{{ keychain.apiKey }}',
            success: function (data){
                // console.log(data);
                renderNavigation(data.navigation);
                renderSeries(data.seriess);
            }
        });
    });

    function renderNavigation(nav) {
        console.log("renderNav");
    };

    function renderSeries(seriess) {
        var results = $('.results');
        $.each(seriess, function(key, series) {
            row = results.data('row');
            row = row.replace(/__link__/g, series.uniqID);
            row = row.replace(/__seriesname__/g, series.name);
            results.append(row);
        });
    };

    $(document).on("click", ".episode_import", function (e) {
        // import button for series
        e.preventDefault();
        var id = $(this).data('id');
        $.ajax({
            url: "{{ url('oktolab_media_local_import_episode') }}",
            data: {'uniqID': id, 'user': "{{ keychain.user }}" },
            type: 'POST',
            statusCode: {
                202: function () {
                    console.log('added episode job.');
                    $(this).addClass("disabled");
                },
                400: function () {
                    console.log('bad request');
                }
            }
        });
    });

    $(document).on("click", ".series_import", function (e) {
        // import button for series
        e.preventDefault();
        var id = $(this).data('id');
        $.ajax({
            url: "{{ url('oktolab_media_local_import_series') }}",
            data: {'uniqID': id, 'user': "{{ keychain.user }}" },
            type: 'POST',
            statusCode: {
                202: function () {
                    console.log('added series job.');
                    $(this).addClass("disabled");
                },
                400: function () {
                    console.log('bad request');
                }
            }
        });
    });
</script> #}
{% endblock %}
