{# show keychain and implement typeahead search for api #}
{% extends "BprsStyleBundle::layout.html.twig" %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': '', 'dropdown': ''} %}
{% endblock %}

{% block body_main %}
    <div class="page-header">
        <h1>{{ keychain.url }}</h1>
        <p><a href="{{ path('oktolab_media_list_keychains') }}" class="btn btn-default">{{ 'oktolab_media_show_keychain.back_to_keychains'|trans|raw }}</a></p>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <img src="{{ keychain|keychain_url('bprs_asset_api_show', {'filekey': series.posterframe, 'width': 550, 'height': 309}) }}" class="img img-responsive" />
            </div>
            <div class="cold-md-6">
                <h1>{{ series.name }}</h1>
                <p>{{ series.description }}</p>
                <a href="" class="btn btn-default series_import" data-uniqid="{{ series.uniqID }}">{{ 'oktolab_media.keychain_import_series'|trans|raw }}</a>
                <a href="" class="btn btn-danger series_import" data-overwrite="true" data-uniqid="{{series.uniqID}}">{{ 'oktolab_media.keychain_import_series_overwrite'|trans|raw }}</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
    $(document).on("click", ".episode_import", function (e) {
        // import button for episode
        e.preventDefault();
        var button = $(this);
        var uniqID = button.data('uniqid');
        $.ajax({
            url: "{{ url('oktolab_media_import_remote_episode', {'keychain': keychain.id}) }}",
            data: {'uniqID': uniqID},
            statusCode: {
                202: function () {
                    console.log('added episode job.');
                    button.addClass("disabled");
                },
                400: function () {
                    button.addClass("danger");
                    console.log('bad request');
                }
            }
        });
    });

    $(document).on("click", ".series_import", function (e) {
        // import button for series
        e.preventDefault();
        var button = $(this);
        var uniqID = button.data('uniqid');
        var overwrite = (button.data('overwrite') == null) ? false : true;
        console.log(overwrite);
        $.ajax({
            url: "{{ url('oktolab_media_import_remote_series', {'keychain': keychain.id}) }}",
            data: {'uniqID': uniqID, 'overwrite': overwrite },
            type: 'GET',
            statusCode: {
                202: function () {
                    console.log('added series job.');
                    button.addClass("disabled");
                },
                400: function () {
                    button.addClass("danger");
                    console.log('bad request');
                }
            }
        });
    });
</script>
{% endblock %}
