<div class="list-group">
    {% for media in medias %}
        <a href="{{ path('oktolab_media_show_media', {'media': media.id })}}" class="list-group-item">
            {% if media.asset is empty %}
                {{ 'oktolab_media.media_for_episode_description'|trans({'%name%': media.quality, '%progress%': media.progress})|raw }}
            {% else %}
                {{ 'oktolab_media.media_for_episode_description_size'|trans({'%name%': media.quality, '%progress%': media.progress, '%size%': media.asset|filesize})|raw }}
            {% endif %}
        </a>
    {% endfor %}
    <a href="{{ path('oktolab_media_new_media', {'uniqID': episode.uniqID}) }}" class="list-group-item">{{ 'oktolab_media.media_for_episode_add_media'|trans|raw }}</a>
</div>
