{% extends "BprsStyleBundle::layout.html.twig" %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': '', 'dropdown': ''} %}
{% endblock %}

{% block title %}
    {{ 'oktolab_media_new_media_title'|trans({'%episode%': form.vars.value.episode, '%project%': name}) }}
{% endblock %}

{% block body_main %}
    <div class="page-header">
        <h1>{{ 'oktolab_media_new_media_header'|trans({'%episode%': form.vars.value.episode}) }}</h1>
        <a href="{{ path('oktolab_episode_show', {'uniqID': form.vars.value.episode.uniqID}) }}" class="btn btn-default">{{ 'oktolab_media_new_media_back_to_episode'|trans|raw }}</a>
    </div>

{{ form_start(form)}}
    {% include "BprsAssetBundle::singleUpload.html.twig" with {'widget': form.asset, 'adapter': 'cache', 'asset': form.vars.value.asset} %}
{{ form_end(form)}}
{% endblock %}

{% block javascripts %}
 {{ parent() }}
 {% include "BprsAssetBundle::singleUpload.js.twig" %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% include "BprsAssetBundle::singleUpload.css.twig" %}
{% endblock %}
