{% extends "BprsStyleBundle::layout.html.twig" %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': '', 'dropdown': ''} %}
{% endblock %}

{% block title %}
    {{ 'oktolab_media_show_media_title'|trans({'%media%': media.quality, '%episode%': media.episode, '%project%': name}) }}
{% endblock %}

{% block body_main %}
    <div class="page-header">
        <h1>
            <a href="{{ path('oktolab_episode_show', {'uniqID': media.episode.uniqID })}}">
                {{ media.episode.name }}
            </a>
        </h1>
        <a href="{{ path('oktolab_episode_show', {'uniqID': media.episode.uniqID })}}" class="btn btn-default">
            {{ 'oktolab_media_show_episode'|trans|raw }}
        </a>

        <!-- Single button -->
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ 'oktolab_media_show_dropdown'|trans|raw }}
          </button>
          <ul class="dropdown-menu">
              <li>
                  <a href="{{ path('oktolab_media_edit_media', {'media': media.id}) }}">
                      {{ 'oktolab_media_edit_media'|trans|raw }}
                  </a>
              </li>
              <li>
                  <a href="{{ path('oktolab_media_new_media', {'uniqID': media.episode.uniqID}) }}">
                      {{ 'oktolab_media_create_new_media'|trans|raw }}
                  </a>
              </li>
              {% if media.asset is not empty %}
                  <li>
                      <a href="{{ path('bprs_asset_show', {'filekey': media.asset.filekey}) }}">
                          {{ 'oktolab_media_show_asset'|trans|raw }}
                      </a>
                  </li>
              {% endif %}
              <li role="separator" class="divider"></li>
              <li>
                  <a href="{{ path('oktolab_media_set_as_master', {'media': media.id}) }}">
                      {{ 'oktolab_media_set_as_master'|trans|raw }}
                  </a>
              </li>
          </ul>
        </div>
    </div>

    <table class="table">
        <tr>
            <td>{{'oktolab_media_quality_label'|trans}}</td>
            <td>{{ media.quality }}</td>
        </tr>
        <tr>
            <td>{{ 'oktolab_media_status_label'|trans }}</td>
            <td>{{ 'oktolab_media.media_status_choice'|transchoice(media.status)}}</td>
        </tr>
        <tr>
            <td>
                {{ 'oktolab_media_progress_label'|trans }}
            </td>
            <td>
                <div class="progress media-progress">
                    <div class="progress-bar {% if media.progress < 100 %}progress-bar-striped active{% endif %}" role="progressbar" aria-valuenow="{{ media.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{media.progress}}%">
                        <span>{{ 'oktolab_media_progress_percent'|trans({'%progress%': media.progress})}}</span>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>{{'oktolab_media_sortNumber_label'|trans}}</td>
            <td>{{ media.sortNumber }}</td>
        </tr>
        <tr>
            <td>{{'oktolab_media_createdAt_label'|trans}}</td>
            <td>{{ media.createdAt|date('d.m.Y H:i')}}</td>
        </tr>
        <tr>
            <td>{{'oktolab_media_updatedAt_label'|trans}}</td>
            <td>{{ media.updatedAt|date('d.m.Y H:i')}}</td>
        </tr>
        <tr>
            <td>{{'oktolab_media_episode_label'|trans}}</td>
            <td><a href="{{ path('oktolab_episode_show', {'uniqID': media.episode.uniqID })}}">{{ media.episode }}</a></td>
        </tr>
        <tr>
            <td>{{'oktolab_media_public_label'|trans}}</td>
            <td>{{ 'oktolab_media_public_choice'|transchoice(media.public) }}</td>
        </tr>
        <tr>
            <td>{{ 'oktolab_media_asset'|trans }}</td>
            <td>
                {% if media.asset is not empty %}
                    <a href="{{ path('bprs_asset_show', {'filekey': media.asset.filekey}) }}">{{ media.asset }}</a>
                {% else %}
                    {{ 'oktolab_media_asset_empty'|trans }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>
                {{ 'oktolab_media_asset_adapter'|trans }}
            </td>
            <td>
                {% if media.asset is not empty %}
                    {{ media.asset.adapter }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>{{ 'oktolab_media_asset_size'|trans }}</td>
            <td>{{ media.asset|filesize }}</td>
        </tr>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if media.progress < 100 %}
        <script type="text/javascript">
            $(document).ready(function(event){
                setInterval("updateCurrent()", 5000);
            });

            function updateCurrent() {
                $.ajax({
                    url: "{{ url('oktolab_media_progress_media', {'media': media.id}) }}",
                    success: function(data) {
                        $('.progress-bar').css('width', data+ '%');
                        $('.progress-bar').attr('aria-valuenow', data);
                        $('.progress-bar').children().replaceWith('<span>'+data+'%</span>');
                    }
                });
            }
        </script>
    {% endif %}
{% endblock %}
