{%- extends "BprsStyleBundle::layout.html.twig" -%}

{%- block nav_head -%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'backend', 'dropdown': ''} %}
{%- endblock -%}

{%- block body_main -%}
    <div class="page-header">
        <h1>{{ 'oktolab_media.episode_index_header'|trans}}</h1>
        <p>{{ 'oktolab_media.episodes_index_total'|trans({'%episodes%': episodes.getTotalItemCount})}}</p>
        <a href="{{ path('oktolab_episode_new') }}" class="btn btn-default">{{ 'oktolab_media.episode_index_new'|trans|raw }}</a>
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sortieren <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li{% if episodes.isSorted('e.name') %} class="active"{% endif %}>{{ knp_pagination_sortable(episodes, 'Name', 'e.name') }}</li>
            <li{% if episodes.isSorted('e.firstranAt') %} class="active"{% endif %}>{{ knp_pagination_sortable(episodes, 'oktolab_media.episode_index_firstranAt'|trans, 'e.firstranAt') }}</li>
            <li{% if episodes.isSorted('e.updatedAt') %} class="active"{% endif %}>{{ knp_pagination_sortable(episodes, 'oktolab_media.episode_index_updatedAt'|trans, 'e.updatedAt') }}</li>
            <li{% if episodes.isSorted('e.uniqID') %} class="active"{% endif %}>{{ knp_pagination_sortable(episodes, 'UniqID', 'e.uniqID') }}</li>
          </ul>
        </div>
    </div>

    <div class="navigation">
        {{ knp_pagination_render(episodes) }}
    </div>
            {% for episode in episodes %}
                    <div class="row">
                        <div class="col-md-6">
                            <a href="{{ path('oktolab_episode_show', {'uniqID': episode.uniqID}) }}">
                                <img src="{{ episode.posterframe(true)|thumb(720,1280)}}" class="img-responsive" />
                            </a>
                        </div>
                        <div class="col-md-6">
                            <dl class="dl-horizontal">
                                <dt>{{ 'oktolab_media.episode_index_name'|trans }}</dt>
                                <dd><a href="{{ path('oktolab_episode_show', {'uniqID': episode.uniqID}) }}">{{ episode.name }}</a></dd>
                                <dt>{{ 'oktolab_media.episode_index_series_name'|trans }}</dt>
                                <dd>{{ episode.series.name }}</dd>
                                <dt>{{ 'oktolab_media.episode_index_firstranAt'|trans }}</dt>
                                <dd>{{ episode.firstRanAt|date('d.m.Y')}}</dd>
                                <dt>{{ 'oktolab_media.episode_index_updatedAt'|trans }}</dt>
                                <dd>{{ episode.updatedAt|date('H:i:s d.m.Y')}}</dd>
                                <dt>{{ 'oktolab_media.episode_index_description'|trans }}</dt>
                                <dd>
                                    {% if episode.description|length > 400 %}
                                        {{ episode.description|slice(0, 397) ~ '...'|nl2br }}
                                    {% else %}
                                        {{ episode.description|nl2br }}
                                    {% endif %}
                                </dd>
                            </dl>
                        </div>
                    </div>
            {% endfor %}
    <div class="navigation">
        {{ knp_pagination_render(episodes) }}
    </div>
{%- endblock -%}
