{% extends "BprsStyleBundle::layout.html.twig" %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': '', 'dropdown': ''} %}
{% endblock %}

{% block body_main %}
    <div class="page-header">
        <h1>{{ episode.name }}</h1>
        <a href="{{ path('oktolab_episode_edit', {'episode': episode.id}) }}" class="btn btn-default">{{ 'oktolab_media.episode_edit_button'|trans|raw }}</a>
        <a href="{{ path('oktolab_media_api_show_episode', {'uniqID': episode.uniqID}) }}" class="btn btn-default">{{ 'oktolab_media.episode_show_api'|trans|raw }}</a>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    {% if episode.video is not empty %}
                        <div id="video">
                        </div>
                    {% elseif episode.posterframe is not empty %}
                        <img src="{{ episode.posterframe|path }}" class="img-responsive"/>
                    {% endif %}
                </div>
                <div class="panel-footer">
                    {{ episode.description|default('oktolab_media.show_episode_description_missing'|trans) }}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td>{{'oktolab_media.episode_info_uniqID'|trans}}</td>
                        <td>{{ episode.uniqID }}</td>
                    </tr>
                    <tr>
                        <td>{{'oktolab_media.episode_info_isActive'|trans}}</td>
                        <td>{{ episode.isActive }}</td>
                    </tr>
                    <tr>
                        <td>{{'oktolab_media.episode_info_createdAt'|trans}}</td>
                        <td>{{ episode.createdAt|date("d.m.Y H:i") }}</td>
                    </tr>
                    <tr>
                        <td>{{'oktolab_media.episode_info_updatedAt'|trans}}</td>
                        <td>{{ episode.updatedAt|date("d.m.Y H:i") }}</td>
                    </tr>
                    <tr>
                        <td>{{'oktolab_media.episode_info_onlineStart'|trans}}</td>
                        <td>{{ episode.onlineStart|date("d.m.Y H:i") }}</td>
                    </tr>
                    <tr>
                        <td>{{'oktolab_media.episode_info_onlineEnd'|trans}}</td>
                        <td>
                            {% if episode.onlineEnd is not empty %}
                                {{ episode.onlineEnd|date("d.m.Y H:i") }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>{{'oktolab_media.episode_info_firstranAt'|trans}}</td>
                        <td>{{ episode.firstranAt|date("d.m.Y H:i") }}</td>
                    </tr>
                </tbody>
            </table>
            {% if episode.video is not empty %}
                <a href="{{ path('bprs_asset_download', {'key': episode.video.filekey}) }}" class="btn btn-default">{{ 'oktolab_media.episode_download_video_button'|trans|raw }}</a>
            {% endif %}
            {% if episode.posterframe is not empty %}
                <a href="{{ path('bprs_asset_download', {'key': episode.posterframe.filekey}) }}" class="btn btn-default">{{ 'oktolab_media.episode_download_posterframe_button'|trans|raw }}</a>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="http://content.jwplatform.com/libraries/qecJHTsP.js"></script>
    {% if episode.video is not empty %}
        <script type="text/javascript">
            $(document).ready(function(){
                var playerInstance = jwplayer("video");
                playerInstance.setup({
                    image: "{{ episode.posterframe|path }}",
                    sources: [{% for media in episode.media %}{file: "{{ media.asset|path }}", label: "{{ media.quality }}", type: "mp4"}{% if not loop.last %},{% endif %}{% endfor %}]
                });
            });
        </script>
    {% endif %}
{% endblock %}
