{% extends "BprsStyleBundle::layout.html.twig" %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': '', 'dropdown': ''} %}
{% endblock %}

{% block body_main %}
    <div class="page-header">
        <h1>{{ episode.name }}</h1>
        <a href="{{ path('oktolab_episode_edit', {'episode': episode.id}) }}" class="btn btn-default">{{ 'oktolab_media.episode_edit_button'|trans|raw }}</a>
        <a href="{{ path('oktolab_media_api_show_episode', {'uniqID': episode.uniqID}) }}" class="btn btn-default">{{ 'oktolab_media.episode_show_api'|trans|raw }}</a>
        <a href="{{ path('oktolab_episode_encode', {'uniqID': episode.uniqID}) }}" class="btn btn-danger">{{ 'oktolab_media.show_episode_add_to_encode_queue'|trans|raw }}</a>
        {% if episode.keychain %}
            <li><a href="{{ path('oktolab_media_reimport_episode', {'uniqID': episode.uniqID }) }}" id="reimport_episode">{{ 'oktolab_media.reimport_episode'|trans|raw }}</a></li>
            <li><a href="{{ path('oktolab_media_reimport_episode', {'uniqID': episode.uniqID, 'overwrite': 1 }) }}" id="reimport_episode_overwrite">{{ 'oktolab_media.reimport_episode_overwrite'|trans|raw }}</a></li>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    {% if episode.video is not empty %}
                        <div id="player">
                        </div>
                    {% elseif episode.posterframe is not empty %}
                        <img src="{{ episode.posterframe|path }}" class="img-responsive"/>
                    {% endif %}
                </div>
                <div class="panel-footer">
                    {{ episode.description|default('oktolab_media.show_episode_description_missing'|trans)|nl2br }}
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <dl class="dl-horizontal">
                <dt>{{ 'oktolab_media.episode_info_isActive'|trans }}</dt>
                <dd>{{ 'oktolab_media.episode_info_isActive_choice'|transchoice( episode.isActive ) }}</dd>

                <dt>{{ 'oktolab_media.episode_info_createdAt'|trans }}</dt>
                <dd>{{ episode.createdAt|date("d.m.Y H:i") }}</dd>

                <dt>{{ 'oktolab_media.episode_info_updatedAt'|trans }}</dt>
                <dd>{{ episode.updatedAt|date("d.m.Y H:i") }}</dd>

                <dt>{{ 'oktolab_media.episode_info_onlineStart'|trans }}</dt>
                <dd>{{ episode.onlineStart|date("d.m.Y H:i") }}</dd>

                <dt>{{ 'oktolab_media.episode_info_onlineEnd'|trans}}</dt>
                <dd>
                    {% if episode.onlineEnd %}
                        {{ episode.onlineEnd|date("d.m.Y H:i") }}
                    {% else %}
                        {{ 'oktolab_media.episode_info_onlineEnd_not_defined'|trans }}
                    {% endif %}
                </dd>

                <dt>{{ 'oktolab_media.episode_info_firstranAt'|trans }}</dt>
                <dd>{{ episode.firstranAt|date("d.m.Y H:i") }}</dd>

                <dt>{{ 'oktolab_media.episode_info_uniqID'|trans}}</dt>
                <dd>{{ episode.uniqID }}</dd>
                <dt>
                    {{'oktolab_media.episode_info_agerating'|trans }}
                </dt>
                <dd>
                    <span class="label {% if episode.agerating > 17 %}label-danger{% elseif episode.agerating > 11 %}label-warning{% else %}label-default{% endif %}">{{ episode.agerating }}</span>
                </dd>
            </dl>

            {% if episode.video is not empty %}
                <a href="{{ path('bprs_asset_download', {'filekey': episode.video.filekey}) }}" class="btn btn-default">{{ 'oktolab_media.episode_download_video_button'|trans|raw }}</a>
            {% endif %}
            {% if episode.posterframe is not empty %}
                <a href="{{ path('bprs_asset_download', {'filekey': episode.posterframe.filekey}) }}" class="btn btn-default">{{ 'oktolab_media.episode_download_posterframe_button'|trans|raw }}</a>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ player(episode)|raw }}
{% endblock %}
