{% extends "BprsStyleBundle::layout.html.twig" %}

{% block nav_head%}
    {% include 'BprsStyleBundle::menu.html.twig' with {'selected': 'oktolab_media', 'dropdown': ''} %}
{% endblock %}

{% block body_main %}
    <div class="page-header">
        <h1>{{ 'oktolab_media.edit_stream_header'|trans }}</h1>
        <a href="{{ path('oktolab_media_stream_show', {'uniqID': form.vars.value.uniqID})}}" class="btn btn-default">{{ 'oktolab_media.stream_edit_back_button'|trans|raw }}</a>
    </div>

    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
    {{ form_end(form) }}
{% endblock %}
